<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8"><h1 style="text-align: center">How to Donate</h1></div>
        
    <div class="col-sm-2"></div>
</div>
<br/>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Monetary Donations</h1></div>

            <div class="panel-body">

           

            Monetary donations can be made by credit card, money order or check through the options below.<br/><br/>

            Online Donations:
            <a  href="https://secure20.salvationarmy.org/donation.jsp"><img src="/images/donate_now.gif"/></a><br/>&nbsp;<br/>
            Phone Donations:
            <b>1-800-SAL-ARMY (1-800-725-2769)</b><br/>&nbsp;<br/>

            Donations by Mail:
            Please mail checks made payable to The Salvation Army to:<br/>&nbsp;<br/>
            <b>The Salvation Army 3950 Clayton Road, Concord, CA 94521</b>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h1>In-Kind Donations</h1>
            </div>
            <div class="panel-body">
                &emsp;If you would like to donate clothing, furniture and household items, please select the option below for connection to our thrift stores, which benefit The Salvation Army’s adult rehabilitation program.
                <br/><br/>
                <b>To Schedule a Material Goods Pick Up or Car Donation:<br/></b>
                <ul style=list-style-type: disc>
                    <li>Call <b>1-800-SA-TRUCK (1-800-728-7825)</b></li>
                    <li>Visit <a href="http://satruck.org">satruck.org</a>.</li>
                </ul>
                <br/> 
                Contact us to discuss a pick up of your items or to find out the nearest drop off location.

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Planned Giving</h1></div>
            <div class="panel-body">
                &emsp;Bequests and other testamentary gifts have been a significant source of support for Salvation Army programs and services for over 140 years. 

                <br/>
                &emsp;The world’s problems aren’t easily solved, but gifts help build solutions. Donors can make a difference in the lives that follow by including The Salvation Army in their estate plan. The lives that are changed through The Salvation Army are part of a legacy.


                Please visit our website at <a href="http://www.salegacygifts.org">www.salegacygifts.org</a> for more details.
            </div>
        </div>
    </div>
        
    <div class="col-sm-3"></div>

    
</div>