<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Gifts By Mail</h3>
            </div>
        </div>
        <div class="panel-body">
            &emsp;Periodically, The Salvation Army mails appeals for assistance to individuals who have a heart for the Army&rsquo;s work. These concerned individuals are given the opportunity to mail a check to The Salvation Army to help with ongoing efforts at assisting those in need.<br/>&nbsp;<br/>&emsp;The Salvation Army needs monetary donations to continue its important work in Contra Costa County and around the world. To support the Army&rsquo;s programs, please mail your check to:<br/>&nbsp;<br/>
            
            <h4><b>The Salvation Army</b></h4>
            <h4><b>PO Box 21105</b></h4>
            <h4><b>Concord, CA 94521</b></h4><br/>&nbsp;<br/>

            If you wish your donation to be used for a specific need in the Concord area, please indicate the specific program on the check.
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>