<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Material Goods Donation</h3>
            </div>
            <div class="panel-body">
                You may bring your donated goods to our site where we have a staffed collection facility on our campus. The assistant will give you a receipt for your donation. Hours of operation are Mon - Fri 11:00am - 3:00pm, Sat - Sun 8:00am - 4:00pm.<br /><br />If you need a pick-up at your residence then:<br /><br />Call 1-800-95-TRUCK or visit <a href="http://www.satruck.com" rel="self">www.satruck.com</a><br /><br /><ul class="disc"><li>to donate material goods such as furniture, clothing and other items.</li><li>for the donation collection center and/or thrift store nearest you</li><li>for information on automobile donations</li><li>for a suggested donation valuation guide</li></ul>
            </div>
        </div>
        <img style="display: block; margin: auto; width: 60%;" src="/images/stacks-image-e555e92-77.jpg"/>
    </div>
    <div class="col-sm-3"></div>
</div>