<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>How to Donate Online</h3></div>
            <div class="panel-body">
                &emsp;In order to protect the integrity of the organization and the privacy of our donors, The Salvation Army collects all on-line donations through a single web-based portal.  Clicking one of the <br/>
                <a  href="https://secure20.salvationarmy.org/donation.jsp"><img src="/images/donate_now.gif"/></a>
                 buttons on any page will transfer you from this site to the specialized collection site. <br /><br />&emsp;Since this collection site handles donations world-wide, unless you specify clearly that you wish your donation to be used locally, it may be used for the general, on-going work of The Army in other regions.<br /><br />&emsp;To ensure that your donation is kept for local use see the illustration below.
            </div>
        </div>
        <img style="display: block; margin: auto; width: 90%;" src="/images/stacks-image-5201dfd-500x404.png"/>
        
    </div>
    <div class="col-sm-3"></div>
</div>

