<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Top Ten Reasons to Give to The Salvation Army</h3></div>
            <div class="panel-body">
                <ol class="arabic-numbers"><li>Its Christ-centered, Bible based approach is the best way to bring about lasting change.</li><li>Its holistic ministry focuses on body, mind and spirit.</li><li>The Army will maximize your contributions to help the most people.</li><li>You can be assured that you are making a meaningful difference in your community.</li><li>The organization&rsquo;s services and processes are overseen by a community volunteer board&nbsp;to ensure accountability.</li><li>It has a track record of staying true to its mission for over a century.</li><li>Salvation Army workers are passionate about improving the lives of men, women, boys, and girls.</li><li>Its vast portfolio of compassionate services offers help for children, families and senior citizens.</li><li>It has an unparalleled record of successful results.</li><li>Its strategic plan ensures expansion of services to keep pace with population growth.</li></ol>

            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>

