<div class="container">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6" >
            <h1 style="text-align: center"> Frequently Asked Questions </h1>
        <p>
            &emsp;This section provides answers to our most frequently asked questions about The Salvation Army.
            These questions and answers came from visitors like you. We hope you find them helpful and informative.
            We would love to address any other questions or issues you may have.
              Please send us an e-mail and we’ll try to get you the answers you need.
        </p>
        </div>
        <div class="col-sm-3">
        </div>
        
        
    </div>
</div>
<hr/>
<div class="container">

    
    
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <button  class="btn btn-block button"><span>What does The Salvation Army do?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel panel-default-block paneltxt">
        &emsp;It is hard to list everything that The Salvation Army does since it does
         everything from feeding starving children and families through recovery
         from natural disasters, and more. They battle against poverty,
         addiction and homelessness. They are a kind face to comfort the sick and
         elderly, a wise spirit to support the education of all ages, and a giving
         heart to address need wherever it occurs. For more information about specific
         activities and programs offered, please see the Services portion of our web site.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <button  class="btn btn-block button"><span>Are you a social services agency?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel panel-default-block paneltxt">
        &emsp;No, we are a group of committed Christians who are concerned to see that the gospel – the good news of Jesus Christ – reaches the needs of the whole person. The Army’s social work sprang out of such concern.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <button class="btn btn-block button"><span>Is The Salvation Army really an army?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel panel-default-block paneltxt">
        &emsp;The Salvation Army is not a physical army but rather a
        global army of people moved to humanitarian action through faith.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <button class="btn btn-block button"><span>Does The Salvation Army help only those of a certain religion?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel panel-default-block paneltxt">
        &emsp;The Salvation Army pledges to help people of all religions, as well as those with no
        religious base. We have an official “position statement” that says: “All social
         welfare services to individuals or families are given without discrimination,
         according to the capacity of the organization to serve in meeting the needs
          of those involved.”

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <button class="btn btn-block button"><span><span class="button-txt">Do you have to join The Salvation Army church before The Army will help you?</span></span></button>
        </a>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel panel-default-block paneltxt">
        &emsp;No. We respect those who come to us in need, whatever their beliefs may be. We try to establish an environment in which spiritual choice is possible.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          <button class="btn btn-block button"><span>Does race or sexual orientation factor into the services you provide?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel panel-default-block paneltxt">
        &emsp;No. We strive to meet the needs of vulnerable groups and those overlooked or ignored in our communities. We make no distinction based on ethnicity or sexual orientation.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          <button class="btn btn-block button"><span>Does The Salvation Army help only senior citizens?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel panel-default-block paneltxt">
        &emsp;The Salvation Army helps people of all ages. Young people benefit from many of our services including kids clubs,
        homework havens and tutoring programs, which provide a safe environment for children and teens. Other beneficiaries of our
        services include single mothers, abused women, drug and alcohol addicts, the homeless and the physically challenged.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          <button class="btn btn-block button"><span>Does The Salvation Army help only those who are <br />beyond rehabilitation?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel panel-default-block paneltxt">
        &emsp;The Army believes that everyone has the capacity to determine a solution for their problems.
        A great many of our programs are directed at helping people turn their lives around.
        Every year, we help thousands of individuals find their way to a better life for themselves
        and their families.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          <button class="btn btn-block button"><span>Why should I contribute to The Salvation Army?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel panel-default-block paneltxt">
        &emsp;There are several answers to this question. First, The Salvation Army has demonstrated its ability to effectively
        identify and efficiently meet urgent human needs in Contra Costa County and throughout the world for over 120 years.
        When you give to us, you know that your money is going to those who need it most. Second, the people we serve have
        multiple needs. The wide range of our programs means that we can deal with the whole person under the umbrella of a
        single agency. Third, our staff combines the expertise of professional training with the experience of working on a
        wide variety of social problems and emergency relief situations.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEleven">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          <button class="btn btn-block button"><span>I can’t make a financial contribution right now. <br />How else can I help?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel panel-default-block paneltxt">
        &emsp;There are many ways to give to The Salvation Army and to those in need in your community. Donated items
         such as gift baskets for Christmas or toys and coats for kids make a big difference. Also, you can simply
         give time by volunteering to help with our services, fundraising campaigns and other activities.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwelve">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          <button class="btn btn-block button"><span>How is my donation used?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve">
      <div class="panel panel-default-block paneltxt">
        &emsp;The Salvation Army translates its faith into action by offering programs and services to assist those in need
        in a variety of ways. Your gift can enable us to serve families who are hungry, shelter homeless families,
         help people overcome addictions, provide after-school tutoring and recreation, and send children to summer camp.
         If your concern is global, you can contribute to Salvation Army World Services, which provides such programs as
         clinics in Africa, homeless feeding services in Russia, enterprise development in the Philippines, and homes
          for orphaned and abandoned children in Mexico.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirteen">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          <button class="btn btn-block button"><span>Can I have a monthly donation deducted from my credit panel panel-default?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen">
      <div class="panel panel-default-block paneltxt">
        &emsp;The answer is yes! The Salvation Army offers you option to make a regular contribution to The Salvation
         Army each month without the hassle of mailing in checks. Sign-up on-line using one of the
      DONATE NOW buttons, and we&rsquo;ll automatically charge your credit panel panel-default account each month.
      If you'd rather use direct debit then please call our Business Administrator at the Church
      Office and we will take care of it.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading14">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
          <button class="btn btn-block button"><span>Is The Salvation Army rich?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapse14" class="collapse" role="tabpanel" aria-labelledby="heading14">
      <div class="panel panel-default-block paneltxt">
        &emsp;Yes and no! The Salvation Army is rich in the quality of devoted service given by its
         workers, the esteem in which it is held by the public, and in its Christian faith
         that is the motivation for all that it does. But The Salvation Army is not financially
         rich. Rather, it is a channel through which money passes to provide for those who
          otherwise would not be helped.
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading15">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
          <button class="btn btn-block button"><span>How much of your money goes to administration?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapse15" class="collapse" role="tabpanel" aria-labelledby="heading15">
      <div class="panel panel-default-block paneltxt">
        &emsp;The Salvation Army makes every effort to ensure that the maximum possible amount from donations
        reaches those in need. Approximately 83 cents of every dollar we collect goes in direct assistance
         to the homeless, the mentally ill, the physically challenged, victims of drug and alcohol abuse,
          and others under our care.

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading16">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
          <button class="btn btn-block button"><span>What is the role of volunteers in The Salvation Army?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapse16" class="collapse" role="tabpanel" aria-labelledby="heading16">
      <div class="panel panel-default-block paneltxt">
        &emsp;Volunteers give us valuable assistance in many ways. We have over 50,000 volunteers across the country
        working in a variety of capacities and alongside our employees to provide direct services to those in
        need.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading17">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
          <button class="btn btn-block button"><span>My business has an interest in helping specific causes. <br />How can I ensure that our contribution will go to these causes?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapse17" class="collapse" role="tabpanel" aria-labelledby="heading17">
      <div class="panel panel-default-block paneltxt">
        &emsp;Donations that are specified or designated for a certain program or region are used to support that program and/or
        region directly. If you wish to specify your gift, this should be clearly noted when you make your donation. Our
         online donations page, for example, gives you a special box to specify such information.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading18">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
          <button class="btn btn-block button"><span>Is The Salvation Army only in the United States of America?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapse18" class="collapse" role="tabpanel" aria-labelledby="heading18">
      <div class="panel panel-default-block paneltxt">
        &emsp;No. The Salvation Army actually began in London, England, before expanding to The United States.
        The Salvation Army currently has offices and services in 124 countries and territories and shares
        the gospel and love of the Lord in over 175 languages. This web site is dedicated to Contra Costa
         County in Northern California.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading19">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
          <button class="btn btn-block button"><span>How does The Salvation Army ensure that its programs <br />meet the same quality standards across your region?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapse19" class="collapse" role="tabpanel" aria-labelledby="heading19">
      <div class="panel panel-default-block paneltxt">
        &emsp;The Salvation Army is involved in the continuous development and promotion of new and innovative
        strategies for service delivery. Social service centers across the country are engaged in an ongoing
         process of evaluation and improvement.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading20">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapse20">
          <button class="btn btn-block button"><span>Is The Salvation Army making a difference in my community?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapse20" class="collapse" role="tabpanel" aria-labelledby="heading20">
      <div class="panel panel-default-block paneltxt">
        &emsp;Because of the wide scope of the services we offer, The Salvation Army is uniquely positioned to think in terms
         of long term solutions to social problems. We certainly continue to meet the short term needs of individuals
         for food, shelter and clothing. Our long term care services provide a continuum of care based on the philosophy
          of &ldquo;aging in place&rdquo; wherever possible. It is very likely that there are people in your community that
          have been served by one or more of our many services. If you do not live in Contra Costa County and would like
          more information about The Salvation Army near you, please see our
          <a href="http://www1.usw.salvationarmy.org/usw/www_usw.nsf/vw-sublinks/88256D3D006526AD88256BD1004BCA6C?openDocument">locations</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading21">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
          <button class="btn btn-block button"><span>Why do you still wear those uniforms?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapse21" class="collapse" role="tabpanel" aria-labelledby="heading21">
      <div class="panel panel-default-block paneltxt">
        &emsp;Mainly because it gives us an &ldquo;open door&rdquo; to service and because the uniform tells everyone
        that the wearer is a Christian who will be glad to help. Also, we&rsquo;ve never heard of an Army
        without uniform. Salvationists find that the uniform is not only distinctive, it is practical as well.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading22">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collapse22">
          <button class="btn btn-block button"><span>Why should I help people on the street when <br />they won’t help themselves?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapse22" class="collapse" role="tabpanel" aria-labelledby="heading22">
      <div class="panel panel-default-block paneltxt">
        &emsp;In these tough times, we all know of people who have suffered losses through no fault of their own.
        When such an event happens, The Salvation Army is there to help. If social issues are left unattended,
        they affect society. Drug problems, for example, often lead to crime. Giving to The Salvation Army is
        an investment in prevention. Through our programs, people are taught to behave responsibly and to
        assume control of their own lives.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading23">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="false" aria-controls="collapse23">
          <button class="btn btn-block button"><span>How can I join or learn more about The Salvation Army?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapse23" class="collapse" role="tabpanel" aria-labelledby="heading23">
      <div class="panel panel-default-block paneltxt">
        &emsp;We encourage you to contact your nearest Salvation Army office or headquarters if you are interested in joining or if you seek more information.
        Salvation Army locations in your area can be found at the
        <a href="http://www1.usw.salvationarmy.org/usw/www_usw.nsf/vw-sublinks/88256D3D006526AD88256BD1004BCA6C?openDocument">locations</a>
         page of this web site. Those interested in contributing can also see our
         <a href="http://salvationarmyconcordca.org/test/Giving/">donations page</a>
          or volunteer through the online
          <a href="http://salvationarmyconcordca.org/test/Giving/TopTenReasons/">Volunteering section</a>. Thank you for helping us to help others.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading24">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="false" aria-controls="collapse24">
          <button class="btn btn-block button"><span>How many people are in The Salvation Army?</span></button>
        </a>
      </h5>
    </div>
    <div id="collapse24" class="collapse" role="tabpanel" aria-labelledby="heading24">
      <div class="panel panel-default-block paneltxt">
        &emsp;There are currently well over 1 million soldiers of God within The Salvation Army worldwide.
        This includes volunteers, officers, and employees; and this number is growing. Literally
         hundreds of people participate in The Salvation Army&rsquo;s good deeds in Contra Costa
         County alone.
      </div>
    </div>
  </div>
</div>
</div>
