<div class="row">
  <div class="col-sm-4">
     <img class="greyBorder"class="img-responsive center-block headshots greyBorder" src="/images/major.png">
     <h2 style="text-align: center">Major Glen Madsen</h2>
  </div>
  <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-heading">Our Leadership Team</div>
     <div class="panel-body">
          Glen & Linda are the Commanding Officers,
          or head pastors, at The Salvation Army
          Community Church in Concord.  They have
          long experience as pastors and administrators
          in The Salvation Army. They were appointed  to
          Concord in July 2012. They are equally adept
          at powerful preaching, officiating at major life
          events such as dedication of children, marriages,
          funerals, and overseeing the response to the major
          social needs in the community.
      </div>
      </div>
  </div>

  <div class="col-sm-4">
    <img class="img-responsive center-block headshots greyBorder" src="/images/linda.jpg">
    <h2 style="text-align: center">Major Linda Madsen</h2>
    </div>
</div>
