


<div class="container" id='about' style="padding-bottom: 50px;">

  <div class="row">
    <div class="col-md-8" >
        <div class="panel panel-default">
                  <img align="center" class="img-responsive center-block logo" src="/images/logo.jpg"/>
            <div class="panel-heading">Welcome!</div>
            <div class="panel-body">
                &emsp;The Salvation Army – it’s a name familiar to just about everyone. But, there is so much more to The Salvation Army than meets the eye! In every community where you find The Salvation Army, you will discover a ministry that is unique. And yet, the same mission drives us all:
                to actively reach out to others in the name of Jesus Christ, and to introduce each one to a loving relationship with God.<br><br>
                &emsp;For more than a hundred and thirty years (since 1882), first in Oakland and then in Concord, The Salvation Army has been a vital part of the East Bay’s evangelical and social community.<br><br>

                &emsp;Although it’s well known for its social ministries, The Salvation Army is less well known as a thriving and relevant mainstream christian church. You can find us at 3950 Clayton Road in Concord,
                and everyone is made welcome at our vibrant weekly worship services and our programs for youth and music outreach.<br><br>

                &emsp;Our exciting Sunday morning worship starts at 11:00 am and is usually finished by 12:15 pm. A highlight of family worship is a “food and fellowship” time immediately after the service.<br><br>

                &emsp;The preaching is powerful and bible-based and you probably can't worship anywhere else where a brass band accompanies the singing every week! Looking for a spiritual home? Come join our Army!<br><br>

                <span style="color:red">Call the Church Office at (925) 676-6180 for more information.</span>
            </div>

        </div>
    </div>
    <div  class="col-sm-4" style="text-align: center; float: right;">
      
        <img align="right" class="img-responsive center-block logo" src="/images/sign.jpg"/>
        <br/>&nbsp;<br/>
        <div  >
            <span style="font:20px sans-serif; font-weight:bold; color:#262626;font-weight:bold; ">Clayton Road Campus<br /></span><span style="font:20px sans-serif; color:#262626;"> 3950 Clayton Road<br />Concord, CA 94521<br />925.676.6180<br /><br /></span><span style="font:20px sans-serif; font-weight:bold; color:#262626;font-weight:bold; ">Worship Service</span><span style="font:20px sans-serif; color:#262626;"><br />Sunday 11:00am</span><br /><br />
        </div>
        <br/>
        <a  href="https://secure20.salvationarmy.org/donation.jsp">
            <img src="/images/donate_now.gif"/>
        </a><br/>&nbsp;<br/>
        <a href="https://www.facebook.com/pages/The-Salvation-Army-Concord/125330734193077"><img style="width:200px;" src="/images/followfb.png" /></a><br/>&nbsp;<br/>
        <a href="https://twitter.com/CoCoSAChurchCA"><img style="width:150px" src="/images/follow.png"  /></a>
        
    </div>
  </div>

<div class="footer">

    <div style="display: inline-block">
        <p style="color:#666666;">Today's Scripture...</p><br/>
        <img style="vertical-align: top" alt="E100 Challenge" src="/images/contemporary_logo.jpg" />   
        <iframe height=150 frameborder=0 src="http://www.biblegateway.com/usage/votd/votd2html.php?version=31&amp;jscript=0"></iframe>
    </div>
    <div style="display: inline-block">
        <u> E100 Scriptures</u>:-<br /><a href="Sidebar/../VisitUs/KnowGod/KnowGod/steps.php" rel="self" title="Readings">To see all the readings
            <br />click here</a><br />
            <span style="color:#666666;"><p>You can subscribe to the latest news <br/>and views and have them emailed to you!<p></span>
            <a href="http://feeds2.feedburner.com/salvationarmyconcordca/lLhX" rel="alternate" type="application/rss+xml">
                <img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="vertical-align:middle;border:0"/>
            </a>&nbsp;
            <a href="http://feeds2.feedburner.com/salvationarmyconcordca/lLhX" rel="alternate" type="application/rss+xml">Subscribe to our RSS feed</a>
    </div>

        
        
    </div>
    
</div>


