<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>What We Believe</h1>
            </div>
            
            <div class="panel-body">
                <p>
    &emsp;Our mission statement has been summarized to this seven-word statement:<br /><br />
    <em>Save souls</em><br />
    <em>Grow saints</em><br />
    <em>Serve suffering humanity</em><br /><br />
    &emsp;For more than a century Salvationists around the world have followed the biblical command to &ldquo;endure hardship with us like a good soldier of Christ Jesus&rdquo; (2 Timothy 2:3). Christians are engaged in a continual battle against Satan for the souls of men. With Christ as our Captain, Salvationists are joining their conquering Christian brothers and sisters in the fight.<br /><br />&emsp;One way to battle the affect of Satan is to meet the needs of &ldquo;suffering humanity&rdquo; at their point of need. To show compassion to those who are without compassion, to befriend those who may have no friends, to show the love of God to everyone.<br/><br /><br />
</p>
            </div>
        </div>
        
<br />

    


<h2 style="horizontal-align: center">The Doctrines of the Salvation Army.</h2><br /><br />

<ol class="arabic-numbers">
    <li>We believe that the Scriptures of the Old and New Testaments were given by inspiration of God, and that they only constitute the Divine rule of Christian faith and practice.</li><br/>
    <li>We believe that there is only one God, who is infinitely perfect, the Creator, Preserver, and Governor of all things, and who is the only proper object of religious worship.</li><br/>
    <li>We believe that there are three persons in the Godhead &ndash; the Father, the Son, and the Holy Ghost, undivided in essence and co-equal in power and glory.</li><br/>
    <li>We believe that in the person of Jesus Christ the Divine and human natures are united, so that He is truly and properly God and truly and properly man.</li><br/>
    <li>We believe that our first parents were created in a state of innocency, but by their disobedience, they lost their purity and happiness, and that in consequence of their fall, all men have become sinners, totally depraved, and as such are justly exposed to the wrath of God.</li><br/>
    <li>We believe that the Lord Jesus Christ has by His suffering and death made an atonement for the whole world so that whosoever will may be saved.</li><br/>
    <li>We believe that repentance toward God, faith in our Lord Jesus Christ and regeneration by the Holy Spirit are necessary to salvation.</li><br/>
    <li>We believe that we are justified by grace through faith in our Lord Jesus Christ and that he that believeth hath the witness in himself.</li><br/>
    <li>We believe that continuance in a state of salvation depends upon continued obedient faith in Christ.</li><br/>
    <li>We believe that it is the privilege of all believers to be wholly sanctified, and that their whole spirit and soul and body may be preserved blameless unto the coming of our Lord Jesus Christ.</li><br/>
    <li>We believe in the immortality of the soul, the resurrection of the body, in the general judgement at the end of the world, in the eternal happiness of the righteous, and in the endless punishment of the wicked.</li>
</ol>

    </div>
    <div class="col-sm-3"></div>
</div>