
<div  class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <h2> Know God </h2>
        <div>
            &emsp;Whether it was just curiosity or a genuine desire to know who God is, I am glad you came to this section of our web site.<br/>&nbsp;<br/>
&emsp;If you will just take a few minutes, looking at spiritual truths from scripture will be a life changing experience. Let God’s message fill you as you read through the statements below.
            <br/>&nbsp;<br/>
God Bless!
<br/>&nbsp;<br/>
    
<b>Glen Madsen, </b><br/>Major
Corps Officer 

        </div>
        </div>
        <div class="col-sm-2" style="top: 60px;">
            <img style="border: 5px solid grey" src="/images/major.png" />
        </div><br/>&nbsp;<br/>
        
        
    </div>

<br/>&nbsp;<br/>
<h2 style="text-align: center"> How to Know God </h2>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading1">
    <h5 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
          <button class="btn btn-block button"><span>1. All have sinned.</span></button>
      </a>
    </h5>
  </div>
  <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1">
    <div class="panel panel-default-block paneltxt">
      &emsp;We try so hard to do good things in our lives, but we fall short for this reason: we are all sinners.
       We fall short of God’s desire for us to lead holy lives. The Bible says, <i>“for all have sinned and
        fall short of the glory of God”</i> (Romans 3:23 NIV). This is because without Jesus Christ we cannot
         become who we are supposed to be.
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading2">
    <h5 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
        <button class="btn btn-block button"><span>2. Jesus Christ died on the cross for you.</span></button>
      </a>
    </h5>
  </div>
  <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
    <div class="panel panel-default-block paneltxt">
      &emsp;The Bible says, “But God demonstrates his own love for us in this: While we were
      still sinners, Christ died for us.” (Romans 5:8 NIV). Even though we don’t deserve
      it, God loves us so much that He sent His only Son to die in our place. That is
      the Good News.
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading3">
    <h5 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
        <button class="btn btn-block button"><span>3. Repent of your sin.</span></button>
      </a>
    </h5>
  </div>
  <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
    <div class="panel panel-default-block paneltxt">
      &emsp;Change the direction of your life, run toward God. The Bible tells us to “Repent,
      then, and turn to God, so that your sins may be wiped out, that times of refreshing
      may come from the Lord” (Acts 3:19 NIV).
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading4">
    <h5 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
        <button class="btn btn-block button"><span>4. Receive Christ into your life.</span></button>
      </a>
    </h5>
  </div>
  <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4">
    <div class="panel panel-default-block paneltxt">
      &emsp;Being a Christian is having Christ Himself reside in your life and in your heart.
      Jesus said, “Here I am! I stand at the door and knock. If anyone hears my voice and
       opens the door, I will come in…” (Revelation 3:20 NIV).
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading5">
    <h5 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
        <button class="btn btn-block button"><span>5. Have a relationship with Christ, by praying this simple prayer:</span></button>
      </a>
    </h5>
  </div>
  <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5">
    <div class="panel panel-default-block paneltxt">
      &emsp;Lord Jesus, I am a sinner. I believe you died for my sins. Now, I turn from my sins and open the door of my heart
       and life. I confess you as my personal Lord and Savior. Thank you for saving me. Amen.<br/>&nbsp;<br/>

      &emsp;If you prayed that prayer and meant it, Welcome to the Family of God.<br/>&nbsp;<br/>

      &emsp;Jesus Christ resides in your heart! You have been forgiven and will spend eternity in heaven.
      The Bible says, “If we confess our sins, He is faithful and just and will forgive us our sins and purify us from all unrighteousness.” (1 John 1:9 NIV).
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading6">
    <h5 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
        <button class="btn btn-block button"><span>6. Put your faith in action</span></button>
      </a>
    </h5>
  </div>
  <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6">
    <div class="panel panel-default-block paneltxt">
    ▪ Spend time in God’s Word, and study the scriptures. If you need a Bible, let me know.<br/>&nbsp;<br/>
    ▪	Pray. You can’t have a relationship without communication. So take time each day to communicate with our Savior.<br/>&nbsp;<br/>
    ▪	Go to Church. Don’t go it alone. Fellowship is a tremendous help in learning more about faith in Christ.<br/>&nbsp;<br/>
    ▪	Tell others. Let’s take everyone we can to Heaven with us.
    </div>
  </div>
</div>
</div>
<br/>&nbsp;
<h3>Use the form below to let me know of your decision so I can pray for you and send you more information you may find helpful.
<br/>&nbsp;
</h3>


    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
                
    <div class="panel panel-default">
        <div class="panel-heading">Contact Form</div>
        <div class="panel-text">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" style="margin: auto; text-align: center">
            <h3 style="font-family: 'Arial Rounded MT'">Subject</h3>
                
                <div class="form-group">
                  <select [ngModel]="contact?.subject" name="subject" class="form-control" id="subject" >
                    <option>Pray for me and send me information</option>
                    <option>Send me information</option>
                    <option>Contact me</option>
                  </select>
               </div>

                
                <br/>&nbsp;
                <div class="input-group">
                    <span style="background-color:slategrey; color:white" class="input-group-addon">Name:</span>
                    <input [ngModel]="contact?.name" name="name"  class="form-control" placeholder="Enter your name" type="text"  />
                </div>
                
                <div class="input-group">
                    <span style="background-color:slategrey; color:white" class="input-group-addon">Email:</span>
                    <input [ngModel]="contact?.email" name="email" class="form-control" type="email" placeholder="Enter your Email" />
                </div>
                
                
                <div class="row">
                    <div class='col-sm-6'>
                        <h3 style="font-family: 'Arial Rounded MT'">Age</h3>
                        <input [ngModel]="contact?.age" name="age" class="form-control" type="text" placeholder="Enter your Age" />
                    </div>
                    <div class='col-sm-6'>
                        <div class="dropdown">
                             <h3 style="font-family: 'Arial Rounded MT'">Gender</h3>
                          <div class="form-group">
                              <select [ngModel]="contact?.gender" name="gender"  class="form-control" id="gender" >
                                <option>Male</option>
                                <option>Female</option>
                              </select>
                          </div>
                        </div>
                       <!-- <div class="btn-group" data-toggle="buttons">
               
                    <h3 style="font-family: 'Arial Rounded MT'">Gender</h3>
                    <label  class="btn btn-primary active btn-lg">
                        <input style='border-radius: 0.5'type="radio" name="male" autocomplete="off" checked> Male
                    </label>
                    <label  class="btn btn-primary btn-lg">
                        <input type="radio" name="female" autocomplete="off"> Female
                    </label>
                </div>-->
                    </div>
                </div>
                
                
                <h3 style="font-family: 'Arial Rounded MT'">Additional Comments:</h3>
                <div class="form-group">
                    <textarea [ngModel]="contact?.comments" name="comments" class="form-control" rows="5" id="comment"></textarea>
                </div>
                <button type="submit" id='contactForm' class='btn btn-lg btn-danger' >Submit</button>


        </form>
        </div>
    </div>
        
       
        </div>
        <div class="col-sm-2"></div>
    </div>



   
</div>
