<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>How to Find Us</h1></div>
            <div class="panel-body">
                <h3> Look for the distinctive 3 flagpoles outside our facility! </h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.4204420930373!2d-122.00450158428696!3d37.967316279724905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808560afbeb5972b%3A0xed06baaa44123d07!2sSalvation+Army!5e0!3m2!1sen!2sus!4v1499266491718" width="530" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
               
                <h3>We are located at 3950 Clayton Road (opposite West St.). There is
                  a traffic light at the entrance to our parking lot. You are welcome
                  to park anywhere on our lot - there are no reserved spaces except
                  for blue handicapped spaces which are well marked.</h3>

            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>





