

<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 style="text-align: center"> First Time Visitors </h1>
            </div>
        
        <div class="panel-body">
            <p>
        &emsp;I’d like to take this opportunity to thank you for stopping by and to invite you to our Sunday services. (Map & Directions here. Our Sunday Worship begins at 11:00 am.)

      As you look around, I am sure you will discover that The Salvation Army has a lot more to offer than just Family Services. There is something for every one in your family, from Children’s ministries and Music Ministries to our Women’s Ministries and Other Fellowships. Whatever your stage in life, we have a place for you and your family to enjoy fellowship with others while you re-connect with God.

      I'm convinced each of us a has a vital part in God’s plan, even you! So please, join us this Sunday and get to know God.

      God Bless!<br/>&nbsp;<br/>
      Glen Madsen, Major
      Corps Officer (Senior Pastor)
      </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="top: 60px; left: 60px;">
      <img style="border: 5px solid grey" src='/images/major.png'/>
    </div>
  </div>
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading1">
    <h5 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
          <button class="btn btn-block button"><span>What should I wear?</span></button>
      </a>
    </h5>
  </div>
  <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1">
    <div class="panel panel-default-block paneltxt">
      &emsp;We invite you to dress comfortably. You’ll fit right in. After all, the Bible tells us that God is more concerned with our hearts than He is with how we dress or look (see 1 Samuel 16:7).
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading2">
    <h5 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
        <button class="btn btn-block button"><span>What about my children?
</span></button>
      </a>
    </h5>
  </div>
  <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
    <div class="panel panel-default-block paneltxt">
      &emsp;Children of all ages are welcome to worship at our church. In the middle of our service we invite the children 12 and under to Junior Church where they receive an age appropriate Bible lesson with fun activities.
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading3">
    <h5 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
        <button class="btn btn-block button"><span>What is the service like?</span></button>
      </a>
    </h5>
  </div>
  <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
    <div class="panel panel-default-block paneltxt">
      &emsp;Friendly people coming together for worship. We use traditional hymns and contemporary music, accompanied by our brass band and worship team. Bible readings, testimony and down-to-earth sermons guide us in applying Biblical principles to our everyday life. After the service we have a time for food and fellowship and you’ll even have an opportunity to talk individually or pray with one of our pastors or lay-leaders.
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading4">
    <h5 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
        <button class="btn btn-block button"><span>But I have toddlers…</span></button>
      </a>
    </h5>
  </div>
  <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4">
    <div class="panel panel-default-block paneltxt">
      &emsp;Then our nursery is just right for you. 
Each week we have people in our nursery to watch and play with our youngest attenders. Moms and Dads are encouraged to even stay for a while to get to know more about what is available for their children.
    </div>
  </div>
</div>

</div>
</div>
   
</div>
