<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Songsters - Adult Choir</h3>
            </div>
            <div class="panel-body">
             <img style="display: block; margin: auto; width: 80%" src="/images/stacks-image-16c1b53.png"/><br/><br/>
       
        &emsp;The Concord Songsters is a 28 voice SATB choir.  The primary purpose of the Songsters is to assist in worship during Sunday Morning Services with both accompanied and a capella choral settings. Much of the music presented is written by Salvationists; however the Songsters enjoy singing a variety of contemporary Christian selections as well.<br/><br/>

        &emsp;Songster members give their time voluntarily to rehearse Thursday evenings and sing Sunday mornings.  The members include high school students, Pastors, executives, retirees, policemen, and businesspeople, who all love to sing!<br/><br/>

        &emsp;The Concord Songsters have traveled to various Salvation Army Centers, giving support and encouragement in the form of song!    
            </div>
        </div>
        
       
        <br/><br/>
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Live Recordings</h3></div>
            <div class="panel-body">
                <ul style="list-style-type:circle">
                    <li>
                        <a href="#">Prayer for Holiness</a>
                    </li>
                    <li>
                        <a href="#">Adoration</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-sm-3"></div>
</div>
