div {
    font-family: san-serif;
    font-size: 20px;
}

iframe {
  margin: 0 auto;
  display: block;
}
h1,h2,h3 {
    font-family: trajan-pro-3;
    text-align: center
}
p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
}

@media only screen and (max-width: 480px) {
    .panel-group {
        width: 100%
    }
}


.panel-heading{
  border-radius: 4px;
  background-color: #E51D2E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
    font-family: trajan-pro-3,sans-serif; 
    outline: none
}




.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #E51D2E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
    font-family: trajan-pro-3,sans-serif; 
    outline: none;
    white-space: normal;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.paneltxt {
    margin-left: 20px;
    margin-right: 20px;
}

.heading {
    font-family: monaco;
    font-weight: bold;
}

b {
    color: red
}
