<h1>Contact Us</h1>

<div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
                
    <div class="panel panel-default">
        <div class="panel-heading">Contact Form</div>
        <div class="panel-text">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" style="margin: auto; text-align: center">


                
                <br/>&nbsp;
                <div class="input-group">
                    <span style="background-color:slategrey; color:white" class="input-group-addon">Name:</span>
                    <input [ngModel]="email?.name" name="name"  class="form-control" placeholder="Enter your name" type="text"  />
                </div>
                <br/>
                <div class="input-group">
                    <span style="background-color:slategrey; color:white" class="input-group-addon">Email:</span>
                    <input [ngModel]="email?.email" name="email" class="form-control" type="email" placeholder="Enter your Email" />
                </div>
                <br/>
                <div class="input-group">
                    <span style="background-color:slategrey; color:white" class="input-group-addon">Subject:</span>
                    <input [ngModel]="email?.subject" name="subject" class="form-control" type="text" placeholder="Enter the subject of your email" />
                </div>
                
                
                <h3 style="font-family: 'Arial Rounded MT'">Your Message:</h3>
                <div class="form-group">
                    <textarea [ngModel]="email?.message" name="message" class="form-control" rows="5" id="comment"></textarea>
                </div>
                <button type="submit" id='contactForm' class='btn btn-lg btn-danger' >Submit</button>


        </form>
        </div>
    </div>
        
       
        </div>
        <div class="col-sm-2"></div>
    </div>