
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1>Coming Events</h1>
        <p>
            Here's what's going on!
            Note that events can change in real time, so always check if you are unsure of a date or time.
            Click on any item for more detail.
        </p><br/>
    </div>
    <div class="col-sm-3"></div>

</div>

<iframe src="https://www.google.com/calendar/embed?src=irj5f1kp82hn339lcfp38tnsrs%40group.calendar.google.com&ctz=America/Los_Angeles"
style="border: 0" width="800" height="600" frameborder="0" scrolling="yes"></iframe>
