<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>Basic Needs Assistance</h1>
        <h3>As seen on TV! Our food pantry continues running out of food! Demand is exceeding supply! 
        How can you help?
        </h3>
        
        <div class="panel panel-default">
            <div class="panel-heading">Food Pantry - Walk-In Hours</div>
            <div class="panel-body">
                Monday - Wednesday 9:00 AM - 12:00 Noon, 1:00PM - 3:30PM <br/>Thursday 12:00 Noon - 3:30 PM <br />Friday 9:00AM - 12:00 Noon 
            </div>
        </div>
        <div class="container-fluid bg-2 text-center">
            The food pantry is open for residents of Central Contra Costa County. <br /><br />We offer non-perishable food, along with fresh items, like meat, milk and produce when available.<br /><br />Eligible clients can come every 60 days. <br /><br />All you need is an ID for you and your family members , a piece of mail showing name and address for each adult (18+), and verification of any income you receive.
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Food Box Contents</div>
            <div class="panel-body">
                Canned Fruits, Canned Veggies, Tuna, Peanut Butter, Tomato/Spaghetti Sauce, Soup, Canned beans (pork & Beans, Refried, etc), Canned meals (ravioli, chili, beef stew, etc), Mac & Cheese, Cereal, Snacks, Baking items (cake mixes, pancake mixes, sugar, etc), Extras (condiments, spices, sauces/gravies), Dry soup (top ramen, Lipton onion soup), Packaged Sides (noodle roni, rice a roni, stuffing, etc), Dry pasta, Dry beans, rice, as well as meat, bread and fresh produce.<br /><br />
            </div>
        </div>
        <div class="container-fluid bg-2 text-center">
            As you can see, we can take almost anything and make it part of our boxes. Donation of any of the items above would make a huge difference to us.<br /><br />Things that are needed outside of those food items are diapers (size 3 and up...everyone donates the little sizes as their babies grow out of them), baby formula, baby food, laundry soap, dish soap, toilet paper, feminine products, shampoo, toothpaste & body soap.<br /><br />Just drive by and drop off items during any of the hours we're open!
        </div>
        
        

        
        <div class="panel panel-default">
            <div class="panel-heading">Other Programs</div>
            <div class="panel-body">
                * Assistance with Past Due PG&E Bills<br /><br />* Back to School Clothing & Backpacks<br /><br />* Thanksgiving and Christmas Holiday Food Baskets & Toys<br /><br />* Dog & Cat Food and Cat Litter (available for those who hold a spay/neuter certificate for their pet)<br /><br />* Baby Items (Diapers, Wipes, Formula & Food when available)<br /><br />&hellip;..and lots more! 
            </div>
        </div>
        <div class="container-fluid bg-2 text-center">
            If we don&rsquo;t do it, we might be able to help you find a place that does!<br/>
            For more information
            Call us at 925-676-6180 ext 10 or 11
        </div>
        
        
    </div>
    <div class="col-sm-2"></div>
</div>
